<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.automosen.si_helti">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".SiHeltiApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".screens.disease.detail.DiseaseDetailActivity">
        </activity>
        <activity android:name=".screens.appoinment.result.AppoinmentResultActivity">
        </activity>
        <activity
                android:name=".screens.appoinment.form.AppoinmentFormActivity"
                android:theme="@style/ActivityDialogTheme">
        </activity>
        <activity android:name=".screens.diagnosa.form.DiagnosaFormActivity">
        </activity>
        <activity android:name=".screens.diagnosa.DiagnosaActivity">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".screens.disease.DiseaseActivity"
                android:label="@string/title_activity_disease">
        </activity>
        <activity android:name=".screens.register.RegisterActivity">
        </activity>
        <activity android:name=".screens.onboard.OnboardActivity">
        </activity>
        <activity android:name=".screens.dashboard.DashboardActivity">
        </activity>
        <activity android:name=".screens.login.LoginActivity">
        </activity>
        <activity android:name=".screens.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>